body{
    margin: 0 auto;
    width: 100vw;
    background-image: url("bkimg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.headClass{
   
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color:white;
    font-weight: bolder;   
}
.btnClass{
    text-align:center;
}
#msgDiv{
    width:80%;
    font-family: cursive;
    font-size: 15px;
    color: white;
    text-align:center;
}

.mainDiv{
   display: flex;
   flex-direction: row; 
   width:80%;
   margin: 0 auto;
   text-align: center;   
}
#sokoban{
   position: relative;    
}
 .spaceColumn{
    width:10%;  
} 
.spaceRow{
    width:80%;
    min-height:50px;   
}
.brickCell{
    min-height: 50px;
    min-width: 50px;
    background-image: url("brick.jpeg");
}
.boxCell{
    min-height: 48px;
    min-width: 48px;
    border: 1px rgb(33, 91, 128) ridge;
    background-color:  rgb(23, 64, 90);
    background-image: url("box.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.storedCell{
    min-height: 48px;
    min-width: 48px;
    border: 1px rgb(33, 91, 128) ridge;
    background-color:  rgb(23, 64, 90);
    background-image: url("box1.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.starCell{
    min-height: 48px;
    min-width: 48px;
    border: 1px rgb(33, 91, 128) ridge;
    background-color: rgb(23, 64, 90);
    background-image: url("star.png") ;
    background-repeat: no-repeat;
    background-position: center; 
}
.emptyCell{
    min-height: 48px;
    min-width: 48px;
    border: 1px rgb(33, 91, 128) ridge;
    background-color:  rgb(23, 64, 90);
    background-repeat: no-repeat;
    background-position: center; 
}
.row{
    display: flex;
    flex-direction: row; 
}
.player{
    position: absolute;
    height: 48px;
    width: 48px;
    border: 1px rgb(33, 91, 128) ridge;
    background-color:  rgb(23, 64, 90);
    background-image: url("player1.png");
    background-repeat: no-repeat;
    background-position: center; 
}